@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alliance";
  src: url(/font/AllianceNo1-Medium.woff2);
}

body {
  background-color: #fec76f;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
